.u-section-1 .u-sheet-1 {
  min-height: 286px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  height: auto;
  min-height: 69px;
  margin-top: 74px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 65px auto 51px;
  padding: 0;
}